<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email verification</title>
</head>
<body>
    <div>
        <h2>Check your email to verify your account. <a href="https://mail.google.com/mail/u/0/#inbox">GMAIL</a></h2>
    </div>
</body>
</html>