<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arif BD Ltd</title>
</head>
<body>
    <!-- <%= %> To show output --> 
    <!-- <%- %> Include other layouts --> 
    <!-- <% %> write javascripts --> 
    <h1>Hello! Wellcome to Arif BD</h1>
    <h1> <%= passText %> </h1>
</body>
</html>